# DaoCloud-Docs Code Owners

## <https://help.github.com/articles/about-codeowners/>

# General
*.md @windsonsea
/docs/en/docs/ @windsonsea
/docs/zh/docs/blogs/ @windsonsea
/docs/zh/docs/community/ @windsonsea
/docs/zh/docs/native/ @windsonsea
/docs/zh/docs/dce/ @windsonsea @qiupingdai @samzong

# code
*.py @samzong @windsonsea
*.yaml @samzong @windsonsea
*.yml @samzong @windsonsea
*.json @samzong @windsonsea
/scripts/ @samzong @windsonsea
/.github/ @samzong @windsonsea
/docs/zh/themes/ @samzong @windsonsea
/docs/en/themes/ @samzong @windsonsea

# amamba
/docs/zh/docs/amamba/ @jzhupup @zengchongliner @qiupingdai @windsonsea
/docs/zh/docs/download/modules/amamba.md @jzhupup @zengchongliner @qiupingdai @windsonsea
/docs/zh/docs/videos/amamba.md @jzhupup @zengchongliner @qiupingdai @windsonsea

# baize
/docs/zh/docs/baize/ @samzong @git-jxj @Rei1010 @windsonsea @kebe7jun
/docs/zh/docs/download/modules/baize.md @samzong @git-jxj @Rei1010 @windsonsea @kebe7jun
/docs/zh/docs/videos/baize.md @samzong @git-jxj @Rei1010 @windsonsea @kebe7jun

# ghippo
/docs/zh/docs/ghippo/ @yitingdc @lemontrees123 @bzsuni @qiupingdai @windsonsea
/docs/zh/docs/download/modules/ghippo.md @yitingdc @lemontrees123 @bzsuni @qiupingdai @windsonsea
/docs/zh/docs/videos/ghippo.md @yitingdc @lemontrees123 @bzsuni @qiupingdai @windsonsea

# insight
/docs/zh/docs/insight/ @justedennnnn @Penguin-zlh @tukwila @samzong @windsonsea @FKAJerry
/docs/zh/docs/download/modules/insight.md @justedennnnn @Penguin-zlh @tukwila @samzong @windsonsea @FKAJerry
/docs/zh/docs/videos/insight.md @justedennnnn @Penguin-zlh @tukwila @samzong @windsonsea @FKAJerry

# kairship
/docs/zh/docs/kairship/ @wlp1153468871 @yt-huang @samzong @windsonsea
/docs/zh/docs/download/modules/kairship.md @wlp1153468871 @yt-huang @samzong @windsonsea
/docs/zh/docs/videos/kairship.md @wlp1153468871 @yt-huang @samzong @windsonsea

# kangaroo
/docs/zh/docs/kangaroo/ @lemontrees123 @yt-huang @yitingdc @qiupingdai @windsonsea
/docs/zh/docs/download/modules/kangaroo.md @lemontrees123 @yt-huang @yitingdc @qiupingdai @windsonsea
/docs/zh/docs/videos/kangaroo.md @lemontrees123 @yt-huang @yitingdc @qiupingdai @windsonsea

# kant
/docs/zh/docs/kant/ @zhiyingfang2022 @git-jxj @qiupingdai @windsonsea
/docs/zh/docs/download/modules/kant.md @zhiyingfang2022 @git-jxj @qiupingdai @windsonsea
/docs/zh/docs/videos/kant.md @zhiyingfang2022 @git-jxj @qiupingdai @windsonsea

# install
/docs/zh/docs/install/ @jzhupup @FloatXD @Rei1010 @qiupingdai @windsonsea
/docs/zh/docs/videos/install.md @jzhupup @FloatXD @Rei1010 @qiupingdai @windsonsea

# kpanda
/docs/zh/docs/kpanda/ @lemontrees123 @shijinye @Rei1010 @yt-huang @qiupingdai @windsonsea
/docs/zh/docs/download/modules/kpanda.md @lemontrees123 @shijinye @Rei1010 @yt-huang @qiupingdai @windsonsea
/docs/zh/docs/download/modules/addon/ @lemontrees123 @shijinye @Rei1010 @yt-huang @qiupingdai @windsonsea
/docs/zh/docs/videos/kpanda.md @lemontrees123 @shijinye @Rei1010 @yt-huang @qiupingdai @windsonsea

# mspider
/docs/zh/docs/mspider/ @Adityayxt @samzong @Cynthia-yun @windsonsea @kebe7jun
/docs/zh/docs/download/modules/mspider.md @Adityayxt @samzong @Cynthia-yun @windsonsea @kebe7jun
/docs/zh/docs/videos/mspider.md @Adityayxt @samzong @Cynthia-yun @windsonsea @kebe7jun

# skoala
/docs/zh/docs/skoala/ @Adityayxt @samzong @tukwila @Cynthia-yun @windsonsea @wilsonwu
/docs/zh/docs/download/modules/skoala.md @Adityayxt @tukwila @Cynthia-yun @windsonsea @wilsonwu
/docs/zh/docs/videos/skoala.md @Adityayxt @samzong @tukwila @Cynthia-yun @windsonsea @wilsonwu

# spidernet
/docs/zh/docs/network/ @qiupingdai @ty-dc @windsonsea
/docs/zh/docs/download/modules/spidernet.md @qiupingdai @ty-dc @windsonsea
/docs/zh/docs/videos/spidernet.md @qiupingdai @ty-dc @windsonsea

# virtnest
/docs/zh/docs/virtnest/ @wlp1153468871 @bzsuni @qiupingdai @windsonsea @yitingdc
/docs/zh/docs/download/modules/virtnest.md @wlp1153468871 @bzsuni @qiupingdai @windsonsea @yitingdc
/docs/zh/docs/videos/virtnest.md @wlp1153468871 @bzsuni @qiupingdai @windsonsea @yitingdc

# middleware
/docs/zh/docs/middleware/ @justedennnnn @fangbin9527 @samzong @windsonsea @drivebyer
/docs/zh/docs/download/modules/middleware/ @justedennnnn @fangbin9527 @samzong @windsonsea @drivebyer
/docs/zh/docs/videos/middleware.md @justedennnnn @fangbin9527 @samzong @windsonsea @drivebyer

# hwameistor
/docs/zh/docs/storage/ @jzhupup @FloatXD @qiupingdai @windsonsea
/docs/zh/docs/download/modules/hwameistor.md @jzhupup @FloatXD @qiupingdai @windsonsea
