.venv
builds
temp_dir
.DS_Store
_book/
.idea/
.vscode/
public/
qiniu-upload/
.qiniu-manifest.json
scripts/config.py
__pycache__
.VSCodeCounter
docs/zh/site/
docs/en/site/
*.docx
ufile.log
.env
.obsidian/