# DaoCloud Code Owners

# <https://help.github.com/articles/about-codeowners/>

# first person is the doc owner, second person is the product owner

docs/en/docs/amamba/* @jzhupup
docs/zh/docs/amamba/* @jzhupup

docs/en/docs/blogs/* @windsonsea
docs/zh/docs/blogs/* @windsonsea

docs/en/docs/community/* @windsonsea
docs/zh/docs/community/* @windsonsea

docs/en/docs/dce/* @windsonsea
docs/zh/docs/dce/* @windsonsea

docs/en/docs/download/modules/amamba.md @jzhupup
docs/zh/docs/download/modules/amamba.md @jzhupup
docs/en/docs/download/modules/ghippo @yitingdc
docs/zh/docs/download/modules/ghippo @yitingdc
docs/en/docs/download/modules/insight.md @justedennnnn
docs/zh/docs/download/modules/insight.md @justedennnnn
docs/en/docs/download/modules/kairship.md @wlp1153468871
docs/zh/docs/download/modules/kairship.md @wlp1153468871
docs/en/docs/download/modules/kangaroo.md @lemontrees123
docs/zh/docs/download/modules/kangaroo.md @lemontrees123
docs/en/docs/download/modules/kant.md @zhiyingfang2022
docs/zh/docs/download/modules/kant.md @zhiyingfang2022
docs/en/docs/download/modules/kpanda.md @yanrongshi
docs/zh/docs/download/modules/kpanda.md @yanrongshi
docs/en/docs/download/modules/mspider.md @samzong
docs/zh/docs/download/modules/mspider.md @samzong
docs/en/docs/download/modules/skoala.md @Adityayxt
docs/zh/docs/download/modules/skoala.md @Adityayxt
docs/en/docs/download/modules/spidernet.md @Jeanine-tw
docs/zh/docs/download/modules/spidernet.md @Jeanine-tw
docs/en/docs/download/modules/virtnest.md @Jeanine-tw
docs/zh/docs/download/modules/virtnest.md @Jeanine-tw

docs/en/docs/ghippo/* @yitingdc @lemontrees123
docs/zh/docs/ghippo/* @yitingdc @lemontrees123

docs/en/docs/insight/* @justedennnnn
docs/zh/docs/insight/* @justedennnnn

docs/en/docs/install/* @jzhupup
docs/zh/docs/install/* @jzhupup

docs/en/docs/kairship/*  @wlp1153468871 @Jeanine-tw
docs/zh/docs/kairship/*  @wlp1153468871 @Jeanine-tw

docs/en/docs/kangaroo/* @lemontrees123 @Jeanine-tw
docs/zh/docs/kangaroo/* @lemontrees123 @Jeanine-tw

docs/en/docs/kant/* @zhiyingfang2022
docs/zh/docs/kant/* @zhiyingfang2022

docs/en/docs/kpanda/*  @yanrongshi
docs/zh/docs/kpanda/*  @yanrongshi

docs/en/docs/middleware/* @huan555
docs/zh/docs/middleware/* @huan555

docs/en/docs/mspider/* @samzong @kebe7jun
docs/zh/docs/mspider/* @samzong @kebe7jun

docs/en/docs/native/* @Jeanine-tw
docs/zh/docs/native/* @Jeanine-tw

docs/en/docs/network/* @Jeanine-tw
docs/zh/docs/network/* @Jeanine-tw

docs/en/docs/skoala/*  @Adityayxt
docs/zh/docs/skoala/*  @Adityayxt

docs/en/docs/storage/* @qiupingdai @Jeanine-tw
docs/zh/docs/storage/* @qiupingdai @Jeanine-tw

docs/en/docs/videos/* @windsonsea
docs/zh/docs/videos/* @windsonsea

docs/en/docs/virtnest/* @wlp1153468871 @Jeanine-tw
docs/zh/docs/virtnest/* @wlp1153468871 @Jeanine-tw

# code

docs/zh/themes/* @samzong
docs/en/themes/* @samzong
scripts/* @samzong
