mkdocs-git-revision-date-plugin
mkdocs-mermaid2-plugin
mkdocs-rss-plugin
mkdocs-minify-plugin
mkdocs-macros-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-awesome-pages-plugin
mkdocs-redirects
mkdocs-print-site-plugin
mkdocs-swagger-ui-tag
pyyaml