absolute_urls: false
timezone: Asia/Shanghai
param_sep: ':'
wrapped_site: false
languages:
  include_default_lang: true
  translations: true
  translations_fallback: true
  session_store_active: false
  http_accept_language: false
  override_locale: false
home:
  alias: /update
pages:
  theme: learn4
  order:
    by: default
    dir: asc
  list:
    count: 20
  dateformat:
    default: 'Y-m-d H:i'
    short: 'jS M Y'
    long: 'F jS \a\t g:ia'
  publish_dates: true
  process:
    markdown: true
    twig: false
  events:
    page: true
    twig: true
  markdown:
    extra: true
    auto_line_breaks: false
    auto_url_links: false
    escape_markup: false
    special_chars:
      '>': gt
      '<': lt
  types:
    - txt
    - xml
    - html
    - json
    - rss
    - atom
  expires: 86400
  last_modified: false
  etag: false
  vary_accept_encoding: false
  redirect_default_route: false
  redirect_default_code: '301'
  redirect_trailing_slash: true
  ignore_files:
    - .DS_Store
  ignore_folders:
    - .git
    - .idea
  ignore_hidden: true
  url_taxonomy_filters: true
  fallback_types:
    - png
    - jpg
    - jpeg
    - gif
cache:
  enabled: false
  check:
    method: none
  driver: auto
  prefix: g
  lifetime: 604800
  gzip: true
twig:
  cache: true
  debug: false
  auto_reload: true
  autoescape: false
  undefined_functions: true
  undefined_filters: true
assets:
  css_pipeline: false
  css_minify: true
  css_minify_windows: false
  css_rewrite: true
  js_pipeline: false
  js_minify: true
  enable_asset_timestamp: false
  collections:
    jquery: 'system://assets/jquery/jquery-2.1.4.min.js'
errors:
  display: false
  log: true
debugger:
  enabled: false
  shutdown:
    close_connection: true
  twig: true
images:
  default_image_quality: 85
  cache_all: false
  debug: false
media:
  enable_media_timestamp: false
  upload_limit: 0
session:
  enabled: true
  timeout: 1800
  name: grav-site
security:
  default_hash: $2y$10$kwsyMVwM8/7j0K/6LHT.g.Fs49xOCTp2b8hh/S5.dPJuJcJB6T.UK
