// Import Google Web Fonts

$font-family-default:           Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
$font-family-header:            Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
$font-family-mono:              Consolas,Monaco, monospace;
$font-family-serif:             "Georgia", "Times", "Times New Roman", serif;

