<section id="grav-login">
    {{ content }}

    {% include 'partials/messages.html.twig' %}

    <form method="post" action="{{ uri.url ~ page.header.form.action}}">
        {% for field in page.header.form.fields %}
            {% if field.type %}
                <div>
                    {% include ["forms/fields/#{field.type}/#{field.type}.html.twig", 'forms/fields/text/text.html.twig'] %}
                </div>
            {% endif %}
        {% endfor %}
        <div class="form-actions secondary-accent">
            <button type="submit" class="button primary" name="task" value="login.forgot"><i class="fa fa-paper-plane"></i> {{ "PLUGIN_ADMIN.LOGIN_BTN_SEND_INSTRUCTIONS"|t }}</button>
        </div>

        {{ nonce_field('forgot-form', 'forgot-form-nonce') }}
    </form>
</section>
