name: Auto Labels PR

# how usage: https://github.com/marketplace/actions/labeler

on:
  pull_request:
    types: [opened]

jobs:
  triage:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v4
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          configuration-path: .github/labeler.yml # update role in this file
