# This is a basic workflow to help you get started with Actions

name: pull-request-test

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  pull_request:
    branches:    
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Required for mkdocs to be able to display pages last update info
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x

#       # Add ssh private key
#       - name: Setup SSH
#         uses: MrSquaare/ssh-setup-action@v1
#         with:
#           host: github.com
#           private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      
#       # Install mkdocs-material-insiders
#       - run: git clone git@github.com:DaoCloud/mkdocs-material-insiders.git mkdocs-material
#       - run: pip install -e mkdocs-material

      # Runs a single command using the runners shell
      - run: pip install mkdocs-git-revision-date-plugin \
              mkdocs-mermaid2-plugin \
              mkdocs-rss-plugin \
              mkdocs-minify-plugin \
              mkdocs-macros-plugin \
              mkdocs-git-revision-date-localized-plugin \
              mkdocs-awesome-pages-plugin \
              mkdocs-redirects \
              mkdocs-print-site-plugin \
              mkdocs-swagger-ui-tag \
              pyyaml
              
      # add custom plugin with pdf support
      - run: pip install git+https://github.com/SAMZONG/mkdocs-with-pdf-support-material-v8

      # build docs
      - run: pwd
      - run: mkdocs build -f docs/zh/mkdocs.yml -d ../../public/
      - run: mkdocs build -f docs/en/mkdocs.yml -d ../../public/en/
